*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav_bar{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    width: 35%;
    margin-left:15px;
    margin-top:20px;   
}
.logo > p{
    font-family: Arial, Helvetica, sans-serif;
    Color:black;
    font-size: 24px;
    font-weight: bolder;
}
#firstspan{
    color:blue;
}
#secondspan{
    color:red;
}
.types{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content:space-evenly;
    margin-top:20px;
}
.left{
    width: 40%;
}
ul{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
ul>li{
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.right{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
    
}
.right > h3{
    font-weight: bold;
    cursor: pointer;
}
.right > input{
    width: 80px;
    height: 40px;
    background-color: none;
    color:blue;
    border-color: blue;
    border-radius: 5px;
    font-weight: bold;
    margin-top:-8px;
    cursor: pointer;
}
.right > input:hover{
    background-color: blue;
    color:white;
    border:1px solid blue;
}
.container{
    width: 100%;
    height: 590px;
    display: flex;
    flex-direction: column;
    background-image: url(./Pics/334100-Real-estate-outlook-hero-1380x800px_.jpg);
    background-size: cover;
}
.Contant{
    height:590px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contant{
    margin:auto;
    margin-top:0;
    margin-top:140px;
}
.Contant1 > h1{
    line-height: 45px;
}
.Contant2{
    margin-left:150px;
    margin-top: 10px;
}
#secondbutton{
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color:black;
    background-color: white;
    border:none;
    font-weight: bold;
    cursor: pointer;
}
#Thirdbutton{
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color:black;
    background-color: rgb(156, 143, 143);
    border:none;
    font-weight: bold;
    margin-left:9px;
    cursor: pointer;
}
#secondbutton:hover{
    background-color: aqua;
    color:black;
}
#Thirdbutton:hover{
    background-color: white;
    color:black;
    border:2px solid black;
}
.inputt{
    display: flex;
    flex-direction: row;
    margin-top:13px;
}
.inputt >input{
    width:500px;
    border:none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.inputt >input:focus{
    outline: none;
    font-size: 18px;
}
#img1{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border:none;
}
.Invest{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:500px;
}
.invest{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.imagea >img{
    width: 350px;
    margin-left:50px;
    margin-top: 30px;
}
.khaaa{
    /* border: 1px solid black; */
    height: 200px;
}
.khaaa >h1{
    line-height: 30px;
    margin-top: -15px;
    margin-right: 10px;
}
.khaaa >p{
    width: 80%;
    margin-left:70px;
    margin-top:20px;
}
.khaaa > button{
    width: 150px;
    height: 40px;
    margin-top:30px;
    /* margin-left:150px; */
    background-color: rgb(44, 40, 36);
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border:none;
}
.wanted{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.wanted > .imagea > img{
    width: 370px;
    margin-left:50px;
    margin-top: 30px;
}
.wanted >.khaaa >h1{
    line-height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}
.wanted >.khaaa >p{
    width: 80%;
    margin-left:70px;
    margin-top:20px;
}
.wanted >.khaaa >button{
    width: 150px;
    height: 40px;
    margin-top:45px;
    margin-left:0px;
    background-color: rgb(44, 40, 36);
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border:none;
}
.secondcontainer{
    height: 700px;
    width: 100%;
}
.maincontainer{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 600px;
    margin-left:5%;
    margin-top:75px;
    background-color: rgb(38, 58, 77);
    justify-content: space-evenly;
    border-radius: 20px;
    overflow: hidden;
    flex-flow: wrap;
}
/* .maincontainer::after{
    content: ' ';
    left:0;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius:50%;
    background-color: red;
    z-index: -1;
}
.maincontainer::before{
    content: ' ';
    right:0;
    margin-top:400px ;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius:50%;
    background-color: rgb(51, 0, 255);
    z-index: -1;
} */
.khan{
    background-color: white;
    height:410px;
    width: 28%;
    border:none;
    border-radius: 10px;
    margin-top:80px;
}
.khan > img{
    width: 160px;
    margin-left:50px;
    margin-top:10px;
}
.khan > h2{
    text-align: center;
    margin-top: 20px;
}
.khan > p {
    text-align: center;
    width: 200px;
    margin-left:40px;
    margin-top:10px;
}
.khan > button{
    width: 130px;
    background-color: none;
    height: 40px;
    border-radius:5px;
    border:1px solid gray;
    margin-left: 70px;
    margin-top:40px;
    cursor: pointer;
}
.Thirdcon > button{
    margin-top:60px;
}
.Thirdcontainer{
    width: 100%;
    background-image:url(./Pics/ground.webp);
    background-size: cover;
    height: 470px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Rightcon{
    width: 30%;
}
.Rightcon > h1{
    margin-top:150px;
}
.Rightcon > p{
    margin-top:10px;
    line-height: 25px;
    color:gray;
}
.Rightcon > input{
    width: 100%;
    margin-top: 30px;
    height: 50px;
    border-radius: 5px;
    border:1px solid gray;
}
.leftCon{
    width: 40%;
}
.leftCon > img{
    width: 450px;
    margin-top: 80px;
}
.Fourthcontainer{
     height: 130px;
     margin-top: 50px;
}
.Fourthcontainer > h2{
    margin-left:50px;
    color:gray;
}
.OnlyButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Buttons{
    margin-left:50px;
    margin-top:25px;
}
.Buttons > button{
    width: 120px;
    margin-left:10px;
    background: none;
    border:1px solid gray;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.Buttons > button:hover{
    background-color:black;
    color:white;
    border:none;
}
.par{
    margin-top:35px;
    margin-right: 15px;
    font-weight: bold;
}
.par > p>span{
    color:red;
}
.Fifthcontainer{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 400px;
    justify-content: space-around;
    flex-flow: wrap;
}
.khan1{
    width: 25%;
    height: 350px;
    border: 1px solid gray;
    cursor: pointer;
}
.khan1 > img{
    width: 100%;
}
.khan1 > h3{
    margin-top:10px;
    margin-left:35px;
}
.khan1> p{
    color:gray;
    margin-top:10px;
    margin-left:35px ;
}
.khan1 > hr{
    color:gray;
    margin-top: 10px;
}
.khan1 > p >span{
    color:red;
    font-weight: bold;
}
.khan1:hover{
    background-color: black;
    color:white;
}
#Firsth1{
    margin-left:50px;
    margin-top:5px;
}
.Sixthcontainer{
    margin-left:50px;
    margin-top:20px;
    display: flex;
    flex-direction: row;
}
.Sixthcontainer > button{
    width: 120px;
    margin-left:10px;
    background: none;
    border:1px solid gray;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.Sixthcontainer > button:hover{
    background-color:rgb(250, 5, 5);
    color:white;
    border:none;
}
.Sevencontainer{
    display: flex;
    flex-direction:row;
    height: 350px;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.khan3{
    width: 23%;
    height:300px;
    border:1px solid rgb(199, 196, 196);
    box-shadow: 0px 1px 3px rgb(0, 0, 0);
}
.khan3:hover{
    width: 350px;
    box-shadow: 0px 5px 4px black;
}
.khan3 > img{
    width: 100%;
    height: 200px;
}
.khan3 >p{
    margin-left:15px;
    margin-top: 10px;
}
.khan3 > p >span{
    color:red;
    font-weight: bold;
    font-size: 25px;
}
.khan3 > h5{
    margin-left: 15px;
    margin-top: 7px;
}
.khan3 > h6{
    margin-left:195px;
    margin-top: 10px;
    color:gray;
}
#secondh2{
    margin-left: 50px;
}
#Firsth11{
    text-align: center;
}
#Thirdpp{
    text-align: center;
    margin-top: 10px;
}
.Eightcontainer{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.one{
    width: 30%;
    height: 450px;
    border: 1px solid gray;
    box-shadow: 0px 2px 5px black;
    margin-top:20px;
    cursor: pointer;
}
.one > img{
    width: 100%;
}
#piccs{
    height: 200px;
}
.one > h6{
    margin-top: 10px;
    margin-left:20px;
    color:red;
    font-size: 15px;
}
.one > h3{
    margin-left:20px;
    margin-top:15px;
}
.one > p{
    margin-left:15px;
    margin-top:10px;
    color:gray;
}
.one:hover{
    width: 31%;
}
.two{
    display: flex;
    flex-direction: row;
    margin-top:25px;
    margin-left: 20px;
}
.two > h5{
    margin-left: 15px;
    margin-top:30px;
}
#buttton{
    background-color: rgb(40, 38, 38);
    color:white;
    font-weight: bold;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    margin-left: 49%;
    margin-top: 10px;
}
footer{
    background-color: rgb(77, 57, 57);
    width: 100%;
    height: 400px;
}
.footer1{
   
    margin-top: 80px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: gray;
    flex-flow: wrap;
}
.f1{
    margin-top:50px;
    width: 23%;
}
.about > h6{
    margin-top:8px;
    cursor: pointer;
}
.Quick_Link > h6{
    margin-top: 8px;
    cursor: pointer;
}
.mail{
    display: flex;
    flex-direction: row;
}
.mail > img{
    width: 35px;
    margin-top:10px;
    cursor: pointer;
}

.mail > p{
    margin-left:8px;
    margin-top:20px;
}
.whatsapp{
    display: flex;
    flex-direction: row;
}
.whatsapp > img{
    width:45px;
    margin-top:10px;
    cursor: pointer;;
}
.whatsapp > p{
    margin-top: 20px;
}
.images > a >img{
    width: 50px;
    cursor: pointer;
}
.lastdiv{
    background-color: rgb(87, 57, 57);
    color:rgb(243, 243, 243);
    width: 100%;
    height: 80px;
    margin-top:100px;
    text-align: center;
}
.lastdiv > p{
    padding-top: 20px;
}
.lastdiv > h4{
    margin-top:10px;
}

 /* Media  Quries */
 
@media (max-width:1200px) {  
.nav_bar{
    height: 70px;
    }
.logo{
    margin-left: 0;
    width: 100%;
}
.left{
    display: none;
}
.right{
    width: 100%;
    margin-top: 1px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
}
.right > h3 {
    margin-top:5px;
}
.container{
    width: 100%;
    height: 680px;
}
.contant{
    margin-top:200px;
}
.Contant1 > h1{
    line-height: 25px;
    font-size: 18px;
    margin-left:20px;
    margin-top:50px;
}
.Contant2{
    margin-left:80px;
    margin-top: 10px;
}
.inputt >input{
    margin-left: 10px;
    width:250px;
}
.Invest{
    display: flex;
    flex-direction: column;
    height:800px;
    width: 100%;  
}
.invest{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color: rgb(235, 235, 235);
    margin-top:-70px;
}
.imagea{
    width: 50%;
}
.imagea >img{
    width: 120%;
    margin-left:-30px;
    margin-top: 100px;
}
.khaaa{
    width: 50%;  
    margin-top:80px;  
}
.khaaa >h1{
    line-height: 30px;
    margin-top: 25px;
    margin-right: 10px;
}
.khaaa >p{
    width: 100%;
    margin-left:0px;
    margin-top:20px;
}
.khaaa > button{
    margin-top:10px;
}
.wanted{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    margin-top:-60px;
}
.wanted > .imagea > img{
    width: 115%;
    margin-left:-20px;
    margin-top: 100px;
}
.wanted >.khaaa >h1{
    line-height: 30px;
    margin-top: 60px;
    margin-right: 10px;
}
.wanted >.khaaa >p{
    width: 100%;
    margin-left:0px;
    margin-top:20px;
}
.wanted >.khaaa >button{
    margin-top:10px;
}
.secondcontainer{
    height: 1250px;
    width: 100%;
    margin-top:-70px;
}
.maincontainer{
    height: 1000px;
    margin-top:75px;
}
.khan{
    height:380px;
    width: 40%;
    margin-top:80px;
}
.Thirdcon{
    margin-top: -120px;
}
.Thirdcontainer{
    width: 100%;
    height: 470px;
    margin-top:-140px;
}
.Rightcon{
    width: 50%;
}
.Rightcon > h1{
    margin-top:100px;
}
.leftCon{
    width: 50%;
}
.leftCon > img{
    width: 100%;
    margin-top: 180px;
}
.Fourthcontainer{
    height: 150px;
    width: 100%;
    margin-top:50px;
}
.OnlyButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left:0px;
    margin-top:25px;
}
.Buttons > button{
    width: 80px;
    margin-left:0px;
    background: none;
    border:1px solid gray;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
 .par > p{
    display: none;
}
.Fifthcontainer{
    width:100%;
    height: 700px;
}
.khan1{
    width: 45%;
    height: 270px;
    box-shadow: 0px 1px 5px black;
}
.khan1 > h3{
    margin-left:10px;
}
.khan1>p{
    margin-left:10px ;
}
.khan1 > h3{
    font-size: 17px;

}
.Third {
    margin-top: -50px;
}
.Fourth{
    margin-top: -50px;
}
.Sixthcontainer{
    margin-left:10px;
    margin-top:20px;
    margin-left: 0px;
}
.Sixthcontainer > button{
    width: 80px;
    font-size: 12px;
    margin-left: 0px;
 
}
.Sevencontainer{
    height: 700px;
}
.khan3{
    width: 45%;
}
.khan3 > h6{
    margin-left:55px;
   
}
.Eightcontainer{
    height: 950px;
}
.one{
    width: 45%;
    height: 450px;
}
#buttton{
    margin-left: 35%;
    margin-top:50px;
}
.footer1{
    justify-content: space-between;
}
.f1{
    margin-top:50px;
    width: 45%;
}
.khan > p {
    width: 100%;
    margin-left:0px;
   
}
.khan > img{
    margin-left:0;
}
.khan > button{
    margin-left: 10px;
    margin-top:10px;
}

}